@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --font-base: "Quicksand", sans-serif;
    --font-mono: "SF Mono", SF Mono Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}