body {
  background: var(--color-gray-100);
  color: var(--color-black);
  font-size: var(--size-step-1);
  font-family: var(--font-base);
  line-height: var(--leading-standard,  1.4);
  font-size-adjust: from-font;
  margin: 0;
}