body {
  background: var(--color-gray-100);
  color: var(--color-black);
  font-size: var(--text-step-0);
  font-family: var(--font-base);
  line-height: 1.4;
  font-size-adjust: from-font;
  margin: 0;
}