.button {
  --button-bg: var(--color-primary);
  --button-text: var(--color-dark);
  --button-x-padding: 2em;
  --button-y-padding: 1.1em;
  --button-gutter: 0.5ch;
  --button-radius: 0;
  --focus-color: var(--color-primary);

  display: inline-flex;
  gap: var(--button-gutter);
  align-items: center;
  line-height: var(--leading-flat);
  position: relative;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  background: var(--button-bg);
  color: var(--button-text);
  padding: var(--button-y-padding) var(--button-x-padding);
  text-transform: uppercase;
  letter-spacing: var(--uppercase-kerning);
  text-decoration: none;
  font-size: var(--text-step-0);
  font-weight: var(--font-weight-bold);
}

.button:hover {
  filter: brightness(105%);
}
